@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #e3c731;
}

.pimary-color {
  color: #e3c731;
}

.font-w {
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Abril Fatface", cursive;

  background: #221e1e;
}

h1 {
  font-family: "Abril Fatface", cursive;
}

.font-content {
  font-family: "Abril Fatface", cursive;
}

.font-nor {
  font-family: "Jost", sans-serif;
  letter-spacing: 1px;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./image_order/post-sec.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.molda-account {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.pointer {
  cursor: pointer;
}

.form-sign {
  display: none;
}

.form-user {
  width: 33%;
  transform: translateY(20%);
  background-color: black;
  padding: 2rem 3rem;
  box-shadow: 0 0 5px #999;
  border-radius: 10px;
  animation: showForm 0.5s;
}

.form-user div label {
  font-size: 2rem;
}

.form-user div input {
  font-size: 2rem;
  padding: 0.5rem 0;
  color: white;
}

.logo-form {
  width: 10rem;
}

.logo-form:hover {
  transform: scale(1);
}

.pd-btn {
  padding: 1rem 2rem;
}

.mg-t-20 {
  margin-top: 2rem;
}

.mg-l-20 {
  margin-left: 2rem;
}

.mg-t-40 {
  margin-top: 4rem;
}

.mg-r-15 {
  margin-right: 1.5rem;
}

.mg-b-20 {
  margin-bottom: 2rem;
}

.mg-tb-20 {
  margin: 2rem 0;
}

.mg-t-40 {
  margin-top: 4rem;
}

.mg-t-80 {
  margin-top: 8rem;
}

.pd-b-10 {
  padding-bottom: 1rem;
}

.pd-b-20 {
  padding-bottom: 2rem;
}

.pd-tb-10 {
  padding: 1rem 0;
}

.pd-tb-100 {
  padding: 10rem 0;
}

.pd-lr-20 {
  padding: 0 2rem;
}

.pd-l-20 {
  padding-left: 2rem;
}

.pd-b-30 {
  padding-bottom: 3rem;
}

.pd-tb-30 {
  padding: 3r 0;
}

.pd-b-80 {
  padding-bottom: 8rem;
}

.pd-b-100 {
  padding-bottom: 10rem;
}

.pd-t-10 {
  padding-top: 1rem;
}

.pd-t-20 {
  padding-top: 2rem;
}

.pd-t-30 {
  padding-top: 3rem;
}

.pd-t-40 {
  padding-top: 4rem;
}

.pd-tb-40 {
  padding: 4rem 0;
}

.pd-tb-80 {
  padding: 8rem 0;
}

.pd-tb-150 {
  padding: 15rem 0;
}

.pd-t-80 {
  padding-top: 8rem;
}

.mg-t-10 {
  margin-top: 1rem;
}

.font-16 {
  font-size: 1.6rem;
}

.font-20 {
  font-size: 2rem;
}

.font-24 {
  font-size: 2.4rem;
}

.font-btn {
  font-size: 4.8rem;
}

.font-30 {
  font-size: 3rem;
}

.font-50 {
  font-size: 5rem;
}

.color-white {
  color: white !important;
}

.color-black {
  color: #000;
}

.molda-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
  display: none;
  justify-content: space-around;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 0.5rem 0;
  margin-top: 5rem;
  transition: 0.5s;
}

.contact-nav {
  font-size: 1.4rem;
}

.pd-l-40 {
  padding-left: 4rem;
}

.logo-mobile img {
  width: 7rem;
}

.close-btn-mobile {
  font-size: 4rem;
}

.list-nav-mobile {
  width: 60%;
  height: 100%;
  background-color: black;
  color: white;
  margin-left: auto;
  animation: showNav 1s;
}

.nav-mobile {
  padding: 1rem 2rem;
  cursor: pointer;
}

.closeNav {
  animation: closeNav 1s forwards;
}

.molda {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);

  display: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

.abouts {
  position: absolute;
  top: 6.5rem;
  left: 0;
  width: 24rem;
  background-color: rgba(191, 191, 191, 0.8);
  color: rgb(202, 202, 202);
  display: none;
  border-radius: 10px;
  overflow: hidden;
}

.abouts-nav {
  display: none;
  cursor: pointer;
}

.accounts {
  display: none;
  cursor: pointer;
}

.accounts div:hover {
  background-color: #e3c731;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.3s;
}

.abouts-nav div:hover {
  background-color: #e3c731;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.3s;
}

.bg-white {
  background-color: white;
}

.logo a img:hover {
  transform: scale(1);
}

.bg-blacks {
  background-color: rgba(0, 0, 0, 0.9);
}

.form-table {
  height: 60rem;
  width: 40%;
  z-index: 2;
  margin-top: 8rem;
  opacity: 0;
  animation: showForm 1s forwards;
}

.gap-20 {
  gap: 2rem;
}

.line {
  border-bottom: 1px solid #fff;
  width: 7rem;
  height: 1px;
}

.abouts-nav div a {
  color: white !important;
}

.line-primary {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

ul {
  gap: 3.2rem;
  list-style: none;
}

.logo img {
  width: 10rem;
}

img:hover {
  transform: scale(1.3);
  transition: 1s;
}

.title-home-page {
  gap: 2rem;
}

.header-body {
  height: 100%;
  transform: translateY(10%);
}

.header-body-content {
  margin-top: 2rem;
}
li:last-child {
  display: none;
}

.set-btn {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  color: var(--primary-color);
  font-size: 2rem;
  padding: 1rem 2rem;
  font-family: "Jost", sans-serif;
  transition: 0.4s;
}

img {
  width: 100%;
  object-fit: cover;
}

li {
  transition: 0.4s;
  cursor: pointer;
}

li:hover {
  border: 1px solid var(--primary-color);
  padding: 1rem 2rem;
  border-radius: 5px;
}

li a:hover {
  color: white !important;
}

.set-btn:hover a {
  color: white !important;
}
.set-btn:hover {
  background-color: var(--primary-color);
  color: white !important;
}

.cheff-1 {
  z-index: 1;
  width: 90%;
  top: -10rem;
  right: 0;
}

.cheff-2 {
  top: 0;
  left: 0;
}

.book-table {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/image/image-book-table.svg");
}

.form {
  width: 70%;
  margin: 0 auto;
}

.close-btn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 5rem;
}

input {
  background-color: transparent;
  font-family: "Jost", sans-serif;
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
}

select {
  font-family: "Jost", sans-serif;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #999;
}

option {
  font-size: 1.6rem;
  font-family: "Jost", sans-serif;
}

.icons i {
  padding-right: 1rem;
}

.contact-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-mobile:hover {
  background-color: #e3c731;
  font-size: 2.4rem;
  transition: 0.3s;
}

.introduce:hover .abouts {
  display: block;
}

.introduce:hover .arrow {
  display: block;
}

.arrow {
  display: none;
  position: absolute;
  z-index: 6;
  width: 0;
  top: -3.5rem;
  left: 0.4rem;
  border-left: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-top: 50px solid transparent;
  border-right: 50px solid transparent;
}

a {
  text-decoration: none !important;
}

.nav-mobile a:hover {
  color: white;
}

.ab-us:hover {
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
}

.ab-cheff:hover {
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
}

.d-toggle {
  display: block;
}

.arrow-down {
  position: absolute;
  top: 0rem;
  right: 3rem;
  font-size: 3rem;
}

.none-pd:hover {
  padding: unset !important;
  border: none;
}

@media screen and (max-width: 500px) {
  .font-30 {
    font-size: 2rem;
  }

  .font-50 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .form-user {
    width: 100%;
  }

  .form-table {
    width: 100%;
    height: 45rem;
  }

  .none-md {
    display: none;
  }

  li {
    display: none;
  }

  .pd-none {
    padding: 0;
  }

  .none {
    display: none;
  }

  li:last-child {
    display: block;
  }

  .form-table {
    width: 100%;
    height: 45rem;
  }

  li:hover {
    padding: unset;
    border: unset;
  }
}

@keyframes showForm {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showNav {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes closeNav {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200%);
  }
}

.border-item {
  border-radius: 2rem;
}

.rate img {
  width: 3rem;
}

.count-number,
.minus,
.plus {
  cursor: pointer;
  width: 6rem;
  background: white;
  height: 6rem;
}

.minus:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.plus:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.count-number {
  border-left: 2px solid #999;
  border-right: 2px solid #999;
}

.minus {
  color: transparent;
}

.plus p {
  padding-bottom: 0.6rem;
}

.cart {
  padding-top: 1rem;
}
